In [1]:
import os, sys
import pandas as pd
from dotenv import load_dotenv

sys.path.append(os.path.abspath(".."))

load_dotenv("../.env", override=True)

True

In [2]:
import importlib
import src.api as api
importlib.reload(api)

In [3]:
payload = api.fetch_role_location("Full Stack Engineer", "London, UK", force_refresh=True)
rows = api.extract_rows(payload)
pd.DataFrame(rows).head(10)

Empty DataFrame
Columns: []
Index: []

In [5]:
test = api.fetch_role_location("Full Stack Engineer", "London, UK", force_refresh=True)
test

{'status': 'OK',
 'request_id': '855dc36a-9bad-455b-86b1-31ac83238257',
 'data': []}

In [6]:
roles_locations = [
    ("Full Stack Engineer", "London, UK"),
    ("QA Engineer", "Lisbon, Portugal"),
    ("UX Designer", "Malmo, Sweden"),
]

all_rows = []
for role, location in roles_locations:
    payload = api.fetch_role_location(role, location)
    all_rows.extend(api.extract_rows(payload))

df = pd.DataFrame(all_rows)
df.head(10)

,job_title,location,min_salary,max_salary,avg_salary,currency,salary_period,confidence,publisher_name
0,QA Engineer,"Lisbon, Portugal",1354.791667,2708.0000,None,None,MONTH,VERY_HIGH,Glassdoor
1,UX Designer,"Lund, Sweden",37148.458333,46810.3125,None,None,MONTH,VERY_HIGH,Glassdoor

In [7]:
roles_locations = [
    ("Software Developer", "Lisbon, Portugal"),
    ("Software Engineer", "London, UK"),
    ("Backend Engineer", "New York, USA"),
    ("Frontend Engineer", "New York, USA"),
    ("QA Engineer", "London, UK"),
]

all_rows = []
for role, location in roles_locations:
    payload = api.fetch_role_location(role, location)
    rows = api.extract_rows(payload)

    if rows and rows[0].get("job_title") is not None:
        all_rows.extend(rows)

    if len(all_rows) >= 10:
        break

df = pd.DataFrame(all_rows).head(10)
df

,job_title,location,min_salary,max_salary,avg_salary,currency,salary_period,confidence,publisher_name
0,Software Developer,"Lisbon, Portugal",1612.50,2679.166667,None,None,MONTH,VERY_HIGH,Glassdoor
1,Backend Engineer,New York State,121388.53,212611.990000,None,None,YEAR,CONFIDENT,Glassdoor
2,Frontend Engineer,New York State,113983.96,193714.940000,None,None,YEAR,CONFIDENT,Glassdoor